.DS_Store
*.pyc
*.pyo
env
env*
dist
*.egg
*.egg-info
_mailinglist
.tox
/build/
/benchpress-build/
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
/node_modules/
/static/bower_components/
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
libpeerconnection.log
npm-debug.log
/tmp/
/scripts/bower/bower-*